.qbr .functions {
	margin: 12px 0 12px 0;
}

.qbr .update,
.qbr .delete {
	width: 32px !important;
	text-align: center;
}

.qbr table th a {
	color: #000;
	display: block;
}

.qbr table th .sort {
	background: url(../img/sort.png) no-repeat center center;
	width: 21px;
	height: 20px;
	opacity: 0.1;
}

.qbr table th .sort_asc {
	background: url(../img/sort_asc.png) no-repeat center center;
	width: 21px;
	height: 20px;
}

.qbr table th .sort_desc {
	background: url(../img/sort_desc.png) no-repeat center center;
	width: 21px;
	height: 20px;
}

.qbr table td .highlight { color: #fff;	background-color: blue; }

.qbr table td.update a {
	color: #000;
}

.modal-footer .btn {
	width: 100px;
}

.modal-footer .btn+.btn {
	margin-bottom: 5px;
}